numpy
pandas
psycopg2
asgiref==3.8.1
boto3==1.35.64
cachetools==5.5.2
channels==4.2.2
channels_redis==4.2.1
daphne==4.2.1
Django==4.2.16
django-environ==0.11.2
django-storages==1.14.6
google-auth==2.40.3
gspread==5.7.2
openpyxl>=3.1.5
paho-mqtt
pillow==11.3.0
python-dotenv==1.0.0
pytz==2025.2
qrcode==8.2
redis==6.4.0
requests==2.32.5
whitenoise
xlrd