.tab-active {
    font-weight: 500; 
    color: #ababab; 
    cursor: pointer;
}

.tab-active:hover {
    color: #747474; 
}

.trash-history-last-execution {
    font-size: 25px;
}

.trash-history-last-execution:hover {
    font-size: 25px;
}

.trash-history-others-execution {
    font-size: 25px;
    color: rgb(189, 189, 189);
}

.btn-white{
    background-color: white;
    border-color: #e4e4e7;
    font-weight: 600;
}

.btn-white:hover{
    background-color: rgb(240, 240, 240);
    border-color: #e4e4e7;
    font-weight: 600;
}

.btn-white:active{
    border-color: #e4e4e7 !important;
}

.border-yellow { 
    border-left-color: #fff131;
    border-left-width: 6px;
}

.border-yellow { 
    border-left-color: #fff131;
    border-left-width: 6px;
}

.border-gray { 
    border-left-color: #b8b8b8;
    border-left-width: 6px;
}

.border-blue { 
    border-left-color: #2079ff;
    border-left-width: 6px;
}

.border-green { 
    border-left-color: #22c55e;
    border-left-width: 6px;
}

.border-orange { 
    border-left-color: #f59e0b;
    border-left-width: 6px;
}
.border-red { 
    border-left-color: #ef4444;
    border-left-width: 6px;
}

.timeline {
    border-left: 3px solid #d1d1d1;
    padding-left: 20px;
    list-style: none;
    position: relative;
}

.timeline-item {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.timeline-item:hover {
    transform: translateY(-3px);
    background: #f9f9f9;
}

.timeline-icon {
    position: absolute;
    left: -32px;
    top: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.timeline-icon.success {
    background-color: #28a745;
}

.timeline-icon.danger {
    background-color: #dc3545;
}

.timeline-content {
    padding-left: 10px;
}

.date {
    font-size: 0.85rem;
    color: #6c757d;
    font-weight: bold;
}

.title {
    font-size: 1.125rem; 
    font-weight: 600;
}

.label-modal {
    font-size: 0.875rem;
    font-weight: 500;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) saturate(100%);
}

#modal-execucao-id,
#modal-execucao-conformidade,
#modal-execucao-nao-conformidade,
#modal-execucao-data {
    color: #6c757d; /* Cor cinza para os dados */
    margin-left: 5px;
}

.medidas-inspecao-container {
    border-top: 1px solid #dee2e6;
    padding-top: 15px;
    margin-top: 15px;
}

.medidas-inspecao-container h6 {
    font-size: 1rem;
    color: #495057;
    font-weight: 600;
}

.medidas-inspecao-container .table {
    font-size: 0.85rem;
}

.chart-container {
    position: relative;
    height: 600px;
    width: 100%;
}