{% extends "base.html" %}

{% load static %}

{% block title %} <title>Inspeção Montagem</title> {% endblock %}

{% block links %}

    <link rel="stylesheet" href="/static/css/inspecao.css">
    <link rel="stylesheet" href="/static/css/select2.css">

{% endblock %}

{% block content %}

<h2 class="my-4">Inspeção Montagem</h2>

<ul class="nav nav-tabs mt-3" style="background-color:  #f4f4f5">
    <li class="nav-item" style="width: 33%;">
        <a id="itens-inspecionar" class="nav-link tab-active active text-center" style="font-size: 0.875rem;"  onclick="activeRow('inspecao-montagem','reinspecao-montagem','inspecionados-montagem', this)">
            <span class="mx-2">Itens a Inspecionar</span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </a>
    </li>
    <li class="nav-item" style="width: 33%;">
        <a id="itens-reinspecao" class="nav-link tab-active text-center text-center" style="font-size: 0.875rem;" onclick="activeRow('reinspecao-montagem','inspecao-montagem','inspecionados-montagem', this)">
            <span class="mx-2">Itens Reinspeção</span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </a>
    </li>
    <li class="nav-item" style="width: 33%;">
        <a id="itens-inspecionados" class="nav-link tab-active text-center text-center" style="font-size: 0.875rem;" onclick="activeRow('inspecionados-montagem','inspecao-montagem','reinspecao-montagem', this)">
            <span class="mx-2">Itens Inspecionados</span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </a>
    </li>
</ul>

<div id="inspecao-montagem" class="row mt-3">

    <div class="d-flex justify-content-between mt-3">
        <h4 style="width: 60%;">Inspeções pendentes</h4>
        <div>
            <div class="btn-group">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi bi-funnel"></i> Filtrar
                </button>
                <form id="form-filtrar-inspecao">
                    <div class="dropdown-menu p-3" style="width: 250px;">
                        <p class="fw-bold mx-2 my-1">Filtrar inspeções</p>
                        <hr>
                        <input type="text" class="form-control mb-3" id="pesquisar-peca-inspecao" placeholder="Pesquisar as peças...">
                        
                        <h6>Máquina</h6>
                        <div style="max-height: 160px; overflow-y: auto;">
                            {% for maquina in maquinas %}
                                <div class="form-check">
                                    <input class="form-check-input-inspecao-montagem" id="{{maquina|lower}}-inspecao-montagem" type="checkbox" value="">
                                    <label class="form-check-label" for="{{maquina|lower}}-inspecao-montagem">{{maquina}}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <h6 class="mt-3">Date</h6>
                        <input type="date" class="form-control" id="data-filtro-inspecao">
                
                        <div class="d-flex justify-content-between mt-3">
                            <button type="button" id="btn-limpar-inspecao-montagem"  class="btn btn-outline-secondary">Limpar</button>
                            <button type="button" id="btn-filtrar-inspecao-montagem" class="btn btn-dark">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end gap-2 my-2">
        <span id="qtd-pendente-inspecao" class="rounded-pill py-1 px-2" style="background-color: #ef4444; color: #fafafa; font-weight: 600; font-size: 0.75rem;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        <span id="qtd-filtrada-inspecao" class="rounded-pill py-1 px-2" style="background-color: #f59e0b; color: #fafafa; font-weight: 600; font-size: 0.75rem; display: none;"></span>
    </div>
    <div class="d-flex justify-content-end flex-wrap gap-2 my-2">
        <span id="itens-filtrados-inspecao-maquina" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Cor: </span>
        <span id="itens-filtrados-inspecao-data" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Data: </span>
        <span id="itens-filtrados-inspecao-pesquisa" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Pesquisa: </span>
    </div>
    <!-- Cards -->
     <div class="row" style="padding-right: 0;" id="cards-inspecao"></div>

     <div id="paginacao-inspecao-montagem"></div>

</div>

<div id="reinspecao-montagem" class="row mt-3" style="display: none;">

    <div class="d-flex justify-content-between mt-3">
        <h4 style="width: 60%;">Requerem reinspeção</h4>
        <div>
            <div class="btn-group">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi bi-funnel"></i> Filtrar
                </button>
                <form id="form-filtrar-reinspecao" action="">
                    <div class="dropdown-menu p-3" style="width: 250px;">
                        <p class="fw-bold mx-2 my-1">Filter Inspections</p>
                        <hr>
                        <input id="pesquisar-peca-reinspecao" type="text" class="form-control mb-3" placeholder="Pesquisar...">
                        
                        <h6>Máquina</h6>
                        <div style="max-height: 160px; overflow-y: auto;">
                            {% for maquina in maquinas %}
                                <div class="form-check">
                                    <input class="form-check-input-reinspecao-montagem" id="{{maquina|lower}}-reinspecao" type="checkbox" value="">
                                    <label class="form-check-label" for="{{maquina|lower}}-reinspecao">{{maquina}}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <h6 class="mt-3">Inspetor</h6>
                        {% for inspetor in inspetores %}
                            <div class="form-check">
                                <input class="form-check-input-reinspecao-inspetores" id="{{inspetor|lower}}-reinspecao" type="checkbox" value="">
                                <label class="form-check-label" for="{{inspetor|lower}}-reinspecao">{{inspetor.nome_usuario}}</label>
                            </div>
                        {% endfor %}
                
                        <h6 class="mt-3">Date</h6>
                        <input id="data-filtro-reinspecao" type="date" class="form-control">
                
                        <div class="d-flex justify-content-between mt-3">
                            <button id="btn-limpar-reinspecao" class="btn btn-outline-secondary">Limpar</button>
                            <button id="btn-filtrar-reinspecao" class="btn btn-dark">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end gap-2 my-2">
        <span id="qtd-pendente-reinspecao" class="rounded-pill py-1 px-2" style="background-color: #ef4444; color: #fafafa; font-weight: 600; font-size: 0.75rem;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        <span id="qtd-filtrada-reinspecao" class="rounded-pill py-1 px-2" style="background-color: #f59e0b; color: #fafafa; font-weight: 600; font-size: 0.75rem; display: none;"></span>
    </div>
    <div class="d-flex justify-content-end flex-wrap gap-2 my-2">
        <span id="itens-filtrados-reinspecao-cor" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Cor: </span>
        <span id="itens-filtrados-reinspecao-inspetor" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Inspetor: </span>
        <span id="itens-filtrados-reinspecao-data" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Data: </span>
        <span id="itens-filtrados-reinspecao-pesquisa" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Pesquisa: </span>
    </div>
    <!-- Cards -->
     <div class="row" style="padding-right: 0;" id="cards-reinspecao"></div>

     <div id="paginacao-reinspecao-montagem"></div>
    
</div>

<div id="inspecionados-montagem" class="row mt-3" style="display: none;">

    <div class="d-flex justify-content-between mt-3">
        <h4 style="width: 60%;">Inspeções realizadas</h4>
        <div class="d-flex gap-2">
            <!-- <button class="btn btn-white"><i class="bi bi-file-earmark-excel"></i> Exportar</button> -->
            <div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <i class="bi bi-funnel"></i> Filtrar
                    </button>
                    <form id="form-filtrar-inspecionados" action="">
                        <div class="dropdown-menu p-3" style="width: 250px;">
                            <p class="fw-bold mx-2 my-1">Filter Inspections</p>
                            <hr>
                            <input id="pesquisar-peca-inspecionados" type="text" class="form-control mb-3" placeholder="Search inspections...">
                            
                            <h6>Máquina</h6>
                            <div style="max-height: 160px; overflow-y: auto;">
                                {% for maquina in maquinas %}
                                    <div class="form-check">
                                        <input class="form-check-input-inspecionados-montagem" id="{{maquina|lower}}-inspecionados" type="checkbox" value="">
                                        <label class="form-check-label" for="{{maquina|lower}}-inspecionados">{{maquina}}</label>
                                    </div>
                                {% endfor %}
                            </div>
                    
                            <h6 class="mt-3">Inspetor</h6>
                            {% for inspetor in inspetores %}
                                <div class="form-check">
                                    <input class="form-check-input-inspecionados-inspetores" id="{{inspetor|lower}}-inspecionados" type="checkbox" value="">
                                    <label class="form-check-label" for="{{inspetor|lower}}-inspecionados">{{inspetor.nome_usuario}}</label>
                                </div>
                            {% endfor %}
                                
                            <h6 class="mt-3">Date</h6>
                            <input id="data-filtro-inspecionados" type="date" class="form-control">
                    
                            <div class="d-flex justify-content-between mt-3">
                                <button id="btn-limpar-inspecionados" class="btn btn-outline-secondary">Limpar</button>
                                <button id="btn-filtrar-inspecionados" class="btn btn-dark">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-end gap-2 my-2">
        <span id="qtd-inspecionados"class="rounded-pill py-1 px-2" style="background-color: #00940c; color: #fafafa; font-weight: 600; font-size: 0.75rem;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        <span id="qtd-filtrada-inspecionados" class="rounded-pill py-1 px-2" style="background-color: #f59e0b; color: #fafafa; font-weight: 600; font-size: 0.75rem; display: none;"></span>
    </div>

    <div class="d-flex justify-content-end flex-wrap gap-2 my-2">
        <span id="itens-filtrados-inspecionados-cor" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Cor: </span>
        <span id="itens-filtrados-inspecionados-inspetor" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Inspetor: </span>
        <span id="itens-filtrados-inspecionados-data" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Data: </span>
        <span id="itens-filtrados-inspecionados-pesquisa" class="rounded-pill py-1 px-2" style="background-color: #ebebeb; color: #3d3d3d; font-weight: 600; font-size: 0.75rem; display: none;">Pesquisa: </span>
    </div>
    <!-- Cards -->
    <div class="row" style="padding-right: 0;" id="cards-inspecionados"></div>
    <div id="paginacao-inspecionados-montagem"></div>
</div>

{% include 'modal_inspecao/modal_inspecao_montagem.html' %}
{% include 'modal_inspecao/modal_excluir_execucao.html' %}

{% endblock %}

{% block scripts %}

<script src="{% static 'js/montagem/a-inspecionar-montagem.js' %}"></script>
<script src="{% static 'js/montagem/inspecionados-montagem.js' %}"></script>
<script src="{% static 'js/montagem/reinspecao-montagem.js' %}"></script>
<script src="{% static 'js/montagem/inspecionar/enviar-inspecao.js' %}"></script>
<script src="{% static 'js/montagem/inspecionar/modal-inspecionar.js' %}"></script>
<script src="{% static 'js/montagem/reinspecionar/modal-reinspecionar.js' %}"></script>
<script src="{% static 'js/montagem/reinspecionar/envio-reinspecao.js' %}"></script>
<script src="{% static 'js/montagem/inspecionados/modal-inspecionados.js' %}"></script>
<script src="{% static 'js/montagem/inspecionados/excluir-execucao.js' %}"></script>

<script>

    function activeRow(rowVisible, firstRowInvisible, secondRowInvisible, clickedElement) {
        
        document.getElementById(rowVisible).style.display = "flex";
        document.getElementById(firstRowInvisible).style.display = "none";
        document.getElementById(secondRowInvisible).style.display = "none";

        const tabs = document.querySelectorAll(".nav-tabs .nav-link");

        tabs.forEach((tab) => {
            tab.classList.remove("active")
        })

        clickedElement.classList.add("active");
    }

</script>

{% endblock %}
