<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ordens</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Apontamento Usinagem</h1>
        <div class="text-end">
            <a href="{% url 'apontamento_usinagem:planejar' %}">Planejar produção</a>
        </div>
        
        <!-- Seção de Ordens Planejadas -->
        <h2>Planejadas</h2>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Data planejamento</th>
                    <th>Qt. Planejada</th>
                    <th>Peça</th>
                    <th>Máquina</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if ordens_planejadas %}
                    {% for ordem in ordens_planejadas %}
                        {% for peca_planejada in ordem.pecas_planejadas.all %}
                            <tr>
                                <td>{{ ordem.data_planejada|date:"d/m/Y" }}</td>
                                <td>{{ peca_planejada.quantidade_planejada }}</td>
                                <td>{{ peca_planejada.peca.codigo }} - {{ peca_planejada.peca.descricao }}</td>
                                <td>{{ ordem.maquina.nome }}</td>
                                <td>
                                    <!-- Botão para abrir o modal de iniciar apontamento -->
                                    <button type="button" class="badge btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIniciar{{ ordem.id }}_{{ peca_planejada.id }}">
                                        Iniciar
                                    </button>
                                    <a href="{% url 'apontamento_usinagem:editar_planejamento' ordem.id %}" class="badge btn btn-success">Editar</a>
                                </td>
                            </tr>
                            <!-- Modal para iniciar o apontamento -->
                            <div class="modal fade" id="modalIniciar{{ ordem.id }}_{{ peca_planejada.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}_{{ peca_planejada.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel{{ ordem.id }}_{{ peca_planejada.id }}">Iniciar Apontamento para {{ peca_planejada.peca.descricao }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="{% url 'apontamento_usinagem:iniciar_apontamento' ordem.id %}">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="operador" class="form-label">Selecione o Operador</label>
                                                    <select name="operador" class="form-select" required>
                                                        {% for operador in operadores %}
                                                            <option value="{{ operador.id }}">{{ operador.matricula }} - {{ operador.nome }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <input type="hidden" name="peca_planejada_id" value="{{ peca_planejada.id }}">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Iniciar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Nenhuma ordem planejada no momento.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <!-- Seção de Ordens em Processo e Interrompidas (Divididas em duas colunas) -->
        <div class="row">
            <!-- Coluna para Ordens em Processo -->
            <div class="col-md-6">
                <h2>Processo</h2>
                <div class="card" style="max-height: 600px; overflow-y: auto;">
                    <div class="card-body">
                        {% if ordens_em_processo %}
                            <div class="row">
                                <!-- Loop para exibir duas ordens por linha -->
                                {% for ordem in ordens_em_processo %}
                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header d-flex justify-content-between align-items-center" title="{{ordem.planejamento.peca.descricao}}">
                                                <a href="https://drive.google.com/drive/u/0/search?q={{ ordem.planejamento.pecas_planejadas.first.peca.codigo }}" target="_blank">
                                                    <small>
                                                        <span>{{ ordem.planejamento.pecas_planejadas.first.peca.codigo }} - {{ ordem.planejamento.pecas_planejadas.first.peca.descricao|truncatechars:17 }}</span>
                                                    </small>
                                                </a>
                                            </div>

                                            <div class="card-body">
                                                <p><strong>Qt. Planejada:</strong> {{ ordem.planejamento.pecas_planejadas.first.quantidade_planejada }}</p>
                                                <p><strong>Data de Início:</strong> {{ ordem.data_inicio|date:"d/m/Y H:i" }}</p>
                                                <button type="button" class="badge btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalFinalizar{{ ordem.id }}">
                                                    Finalizar
                                                </button>
                                                <button type="button" class="badge btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalInterromper{{ ordem.id }}">
                                                    Interromper
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal para finalizar -->
                                    <div class="modal fade" id="modalFinalizar{{ ordem.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel{{ ordem.id }}">Finalizar {{ ordem.planejamento.peca.codigo}} - {{ ordem.planejamento.peca.descricao}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" action="{% url 'apontamento_usinagem:finalizar_apontamento' ordem.id %}">
                                                    <div class="modal-body">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="">Quantidade</label>
                                                            <input class="form-control" type="number" name="quantidade_produzida" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="maquina" class="form-label">Selecione a máquina utilizada</label>
                                                            <select name="maquina" class="form-select" required>
                                                                {% for maquina in maquinas %}
                                                                    <option value="{{ maquina.id }}">{{ maquina.nome }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="proximo_processo" class="form-label">Informar proximo processo</label>
                                                            <select class="form-control" name="proximo_processo" id="proximo_processo">
                                                                <option value="">Não vai para outro processo</option>
                                                                {% for maquina in maquinas %}
                                                                <option value="{{maquina.id}}">{{maquina.nome}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Modal para interromper -->
                                    <div class="modal fade" id="modalInterromper{{ ordem.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel{{ ordem.id }}">Interromper {{ ordem.planejamento.peca.codigo}} - {{ ordem.planejamento.peca.descricao}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" action="{% url 'apontamento_usinagem:interromper_apontamento' ordem.id %}">
                                                    <div class="modal-body">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="motivo_interrupcao" class="form-label">Selecione o motivo</label>
                                                            <select name="motivo_interrupcao" class="form-select" required>
                                                                {% for motivo in motivos %}
                                                                    <option value="{{ motivo.id }}">{{ motivo.nome }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Nenhuma ordem em processo no momento.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            

            <!-- Coluna para Ordens Interrompidas -->
            <div class="col-md-6">
                <h2>Interrompidas</h2>
                <div class="card" style="max-height: 600px; overflow-y: auto;">
                    <div class="card-body">
                        {% if ordens_interrompidas %}
                            <div class="row">
                                <!-- Loop para exibir duas ordens por linha -->
                                {% for ordem in ordens_interrompidas %}
                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header d-flex justify-content-between align-items-center" title="{{ordem.planejamento.peca.descricao}}">
                                                <a href="https://drive.google.com/drive/u/0/search?q={{ ordem.planejamento.pecas_planejadas.first.peca.codigo }}" target="_blank">
                                                    <small>
                                                        <span>{{ ordem.planejamento.pecas_planejadas.first.peca.codigo }} - {{ ordem.planejamento.pecas_planejadas.first.peca.descricao|truncatechars:17 }}</span>
                                                    </small>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <p><strong>Motivo Interrupção:</strong> {{ ordem.motivo_interrupcao }}</p>
                                                <p><strong>Data de Interrupção:</strong> {{ ordem.data_interrupcao|date:"d/m/Y H:i" }}</p>
                                                <a href="{% url 'apontamento_usinagem:retornar_apontamento' ordem.id %}" class="badge btn btn-success">Retornar</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Nenhuma ordem interrompida no momento.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
