{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="my-4 text-center">Apontamento Usinagem</h1>
    <div class="text-end">
        <a class="btn badge btn-primary" href="{% url 'apontamento_usinagem:planejar' %}">
            <i class="fas fa-calendar-plus"></i> Planejar produção
        </a>
    </div>
    
    <!-- Seção de Ordens Planejadas -->
    <h2>Planejadas</h2>
    <div>
        <!-- Filtros -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="filtroOrdem" class="form-label">Filtrar por Ordem</label>
                <input type="text" id="filtroOrdem" class="form-control" placeholder="Digite o número da ordem">
            </div>
            <div class="col-md-4">
                <label for="filtroData" class="form-label">Filtrar por Data</label>
                <input type="date" id="filtroData" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="filtroMaquina" class="form-label">Filtrar por Máquina</label>
                <select class="form-control" id="filtroMaquina">
                        <option value="">Todas</option>
                    {% for maquina in maquinas %}
                        <option value="{{maquina.nome}}">{{maquina.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="ordens_planejadas_container">Carregando ordens planejadas...</div>

    </div>

    <!-- Modal de carregamento -->
    <div class="modal fade" id="modalLoading" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Carregando...</span>
                    </div>
                    <p>Processando, por favor aguarde...</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Seção de Ordens em Processo e Interrompidas (Divididas em duas colunas) -->
    <div class="row">
        <div class="col-md-6">
            <h2>Processo</h2>
            <div class="card" style="max-height: 600px; overflow-y: auto;">
                <div id="ordens_em_processo_container">Carregando ordens em processo...</div>
            </div>
        </div>       
        <div class="col-md-6">
            <h2>Interrompidas</h2>
            <div class="card" style="max-height: 600px; overflow-y: auto;">
                <div id="ordens_interrompidas_container">Carregando ordens interrompidas...</div>
            </div>
        </div>         
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Função para carregar seções usando fetch e atualizar os containers
        function loadSection(url, containerId, ...callbacks) {  // Aceita múltiplos callbacks usando o operador rest
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    document.getElementById(containerId).innerHTML = html;

                    // Executa todos os callbacks (se houver) após o carregamento da seção
                    callbacks.forEach(callback => {
                        if (typeof callback === 'function') {
                            callback();
                        }
                    });
                })
                .catch(error => {
                    console.error("Erro ao carregar seção:", error);
                });
        }

        // Função para adicionar event listeners aos formulários de iniciar ordem
        function attachIniciarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formIniciarOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário
                    
                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao iniciar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar as seções necessárias
                            loadSection("/usinagem/carregar-ordens-planejadas/", "ordens_planejadas_container", attachIniciarOrdemEventListeners);
                            loadSection("/usinagem/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);
                            
                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem iniciada com sucesso!',
                                confirmButtonText: 'OK'
                            });
                        
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao iniciar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao iniciar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachFinalizarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formFinalizarOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário
                    
                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();
                    
                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao finalizar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar a seção das ordens em processo
                            loadSection("/usinagem/carregar-ordens-planejadas/", "ordens_planejadas_container", attachIniciarOrdemEventListeners);
                            loadSection("/usinagem/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);

                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();

                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem finalizada com sucesso!',
                                confirmButtonText: 'OK'
                            });

                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao finalizar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao finalizar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachRetornarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formRetornarOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário

                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao retornar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar a seção das ordens interrompidas
                            loadSection("/usinagem/carregar-ordens-interrompidas/", "ordens_interrompidas_container", attachFinalizarOrdemEventListeners);
                            loadSection("/usinagem/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);
                            
                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem retornada com sucesso!',
                                confirmButtonText: 'OK'
                            });

                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao retornar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao retornar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });

                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachInterromperOrdemEventListeners() {
            const forms = document.querySelectorAll('.formInterromperOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário
                    
                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao interromper a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar a seção das ordens em processo
                            loadSection("/usinagem/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);
                            loadSection("/usinagem/carregar-ordens-interrompidas/", "ordens_interrompidas_container", attachRetornarOrdemEventListeners);
                            
                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem interrompida com sucesso!',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao interromper a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao iniciar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        Promise.all([
            loadSection("/usinagem/carregar-ordens-planejadas/", "ordens_planejadas_container", attachIniciarOrdemEventListeners),
            loadSection("/usinagem/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners),
            loadSection("/usinagem/carregar-ordens-interrompidas/", "ordens_interrompidas_container", attachRetornarOrdemEventListeners)
        ]).then(() => {
            console.log("Todas as seções foram carregadas com sucesso.");
        }).catch(error => {
            console.error("Erro ao carregar as seções:", error);
        });

    });
</script>

<!-- Filtros e scripts -->
<script>
    // Filtro por Ordem
    document.getElementById('filtroOrdem').addEventListener('input', function() {
        filterTable();
    });

    // Filtro por Data
    document.getElementById('filtroData').addEventListener('input', function() {
        filterTable();
    });

    // Filtro por Máquina
    document.getElementById('filtroMaquina').addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filtroOrdem = document.getElementById('filtroOrdem').value.toLowerCase();
        const filtroData = document.getElementById('filtroData').value;
        const filtroMaquina = document.getElementById('filtroMaquina').value.toLowerCase();

        const tabela = document.getElementById('ordensTable');
        const linhas = tabela.getElementsByTagName('tr');

        for (let i = 0; i < linhas.length; i++) {
            const ordem = linhas[i].getElementsByTagName('td')[0].innerText.toLowerCase();
            const data = linhas[i].getElementsByTagName('td')[1].innerText;
            const maquina = linhas[i].getElementsByTagName('td')[4].innerText.toLowerCase();

            let mostrar = true;

            if (filtroOrdem && !ordem.includes(filtroOrdem)) {
                mostrar = false;
            }

            if (filtroData && data !== filtroData.split("-").reverse().join("/")) {
                mostrar = false;
            }

            if (filtroMaquina && !maquina.includes(filtroMaquina)) {
                mostrar = false;
            }

            linhas[i].style.display = mostrar ? '' : 'none';
        }
    }
</script>

{% endblock %}