{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="my-4 text-center">Apontamento Usinagem</h1>
    <div class="text-end">
        <a class="btn badge btn-primary" href="{% url 'apontamento_usinagem:planejar' %}">
            <i class="fas fa-calendar-plus"></i> Planejar produção
        </a>
    </div>
    
    <!-- Seção de Ordens Planejadas -->
    <h2>Planejadas</h2>
    <div class="container">
        <!-- Filtros -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="filtroOrdem" class="form-label">Filtrar por Ordem</label>
                <input type="text" id="filtroOrdem" class="form-control" placeholder="Digite o número da ordem">
            </div>
            <div class="col-md-4">
                <label for="filtroData" class="form-label">Filtrar por Data</label>
                <input type="date" id="filtroData" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="filtroMaquina" class="form-label">Filtrar por Máquina</label>
                <select class="form-control" id="filtroMaquina">
                        <option value="">Todas</option>
                    {% for maquina in maquinas %}
                        <option value="{{maquina.nome}}">{{maquina.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    
        <!-- Tabela com overflow-y -->
        <div style="max-height: 400px; overflow-y: auto;">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Ordem</th>
                        <th>Data planejamento</th>
                        <th>Qt. Planejada</th>
                        <th>Peça</th>
                        <th>Máquina</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="ordensTable">
                    {% if ordens_planejadas %}
                        {% for ordem in ordens_planejadas %}
                            {% for peca_planejada in ordem.pecas_planejadas.all %}
                                <tr>
                                    <td>#{{ ordem.pk }}</td>
                                    <td>{{ ordem.data_planejada|date:"d/m/Y" }}</td>
                                    <td>{{ peca_planejada.quantidade_planejada }}</td>
                                    <td>{{ peca_planejada.peca.peca.codigo }} - {{ peca_planejada.peca.peca.descricao }}</td>
                                    <td>{{ peca_planejada.peca.maquina.nome }}</td>
                                    <td>
                                        <!-- Botão para abrir o modal de iniciar apontamento -->
                                        <button type="button" class="badge btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIniciar{{ ordem.id }}_{{ peca_planejada.id }}">
                                            Iniciar
                                        </button>
                                        <a href="{% url 'apontamento_usinagem:editar_planejamento' ordem.id %}" class="badge btn btn-success">Editar</a>
                                    </td>
                                </tr>
                                <!-- Modal para iniciar o apontamento -->
                                <div class="modal fade" id="modalIniciar{{ ordem.id }}_{{ peca_planejada.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}_{{ peca_planejada.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel{{ ordem.id }}_{{ peca_planejada.id }}">Iniciar Apontamento para {{ peca_planejada.peca.descricao }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form id="formIniciarOrdem" method="post" action="{% url 'apontamento_usinagem:iniciar_apontamento' ordem.id %}">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label for="operador" class="form-label">Selecione o Operador</label>
                                                        <select name="operador" class="form-select" required>
                                                            {% for operador in operadores %}
                                                                <option value="{{ operador.id }}">{{ operador.matricula }} - {{ operador.nome }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <input type="hidden" name="peca_planejada_id" value="{{ peca_planejada.id }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button id="btnIniciarOrdem" type="submit" class="btn btn-primary">Iniciar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Nenhuma ordem planejada no momento.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Seção de Ordens em Processo e Interrompidas (Divididas em duas colunas) -->
    <div class="row">
        <!-- Coluna para Ordens em Processo -->
        <div class="col-md-6">
            <h2>Processo</h2>
            <div class="card" style="max-height: 600px; overflow-y: auto;">
                <div class="card-body">
                    {% if ordens_em_processo %}
                        <div class="row">
                            <!-- Loop para exibir duas ordens por linha -->
                            {% for ordem in ordens_em_processo %}
                                {% for peca_planejada in ordem.planejamento.pecas_planejadas.all %}
                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header d-flex justify-content-between align-items-center" title="{{ordem.planejamento.peca.descricao}}">
                                                <a href="https://drive.google.com/drive/u/0/search?q={{ peca_planejada.peca.peca.codigo }}" target="_blank">
                                                    <small>
                                                        <span>{{ peca_planejada.peca.peca.codigo }} - {{ peca_planejada.peca.peca.descricao|truncatechars:17 }}</span>
                                                    </small>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <p><strong>Planejada:</strong> {{ ordem.planejamento.pecas_planejadas.first.quantidade_planejada }}</p>
                                                <p><strong>Início:</strong> {{ ordem.data_inicio|date:"d/m/Y H:i" }}</p>
                                                <p><strong>Máquina:</strong> {% if peca_planejada.peca.maquina %}{{peca_planejada.peca.maquina.nome}}{% else %}-{% endif %}</p>
                                                <input type="hidden" value="{{ordem.planejamento.maquina.nome}}" id="maquina_processo_{{ ordem.id }}">
                                                <p><strong>Operador:</strong> {{ ordem.operador }}</p>
                                                <button type="button" class="badge btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalFinalizar{{ ordem.id }}">
                                                    Finalizar
                                                </button>
                                                <button type="button" class="badge btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalInterromper{{ ordem.id }}">
                                                    Interromper
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal para finalizar -->
                                    <div class="modal fade" id="modalFinalizar{{ ordem.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel{{ ordem.id }}">Finalizar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form id="formFinalizarOrdem" method="post" action="{% url 'apontamento_usinagem:finalizar_apontamento' ordem.id %}">
                                                    <div class="modal-body">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="">Quantidade</label>
                                                            <input class="form-control" type="number" name="quantidade_produzida" required>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="btnFinalizarOrdem" type="submit" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal para interromper -->
                                    <div class="modal fade" id="modalInterromper{{ ordem.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel{{ ordem.id }}">Interromper</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form id="formInterromperOrdem" method="post" action="{% url 'apontamento_usinagem:interromper_apontamento' ordem.id %}">
                                                    <div class="modal-body">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="motivo_interrupcao" class="form-label">Selecione o motivo</label>
                                                            <select name="motivo_interrupcao" class="form-select" required>
                                                                {% for motivo in motivos %}
                                                                    <option value="{{ motivo.id }}">{{ motivo.nome }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="btnInterromperOrdem" type="submit" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Nenhuma ordem em processo no momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        

        <!-- Coluna para Ordens Interrompidas -->
        <div class="col-md-6">
            <h2>Interrompidas</h2>
            <div class="card" style="max-height: 600px; overflow-y: auto;">
                <div class="card-body">
                    {% if ordens_interrompidas %}
                        <div class="row">
                            <!-- Loop para exibir duas ordens por linha -->
                            {% for ordem in ordens_interrompidas %}
                                {% for peca_planejada in ordem.planejamento.pecas_planejadas.all %}
                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header d-flex justify-content-between align-items-center" title="{{ordem.planejamento.peca.descricao}}">
                                                <a href="https://drive.google.com/drive/u/0/search?q={{ peca_planejada.peca.peca.codigo }}" target="_blank">
                                                    <small>
                                                        <span>{{ peca_planejada.peca.peca.codigo }} - {{ peca_planejada.peca.peca.descricao|truncatechars:17 }}</span>
                                                    </small>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <p><strong>Motivo:</strong> {{ ordem.motivo_interrupcao }}</p>
                                                <p><strong>Início:</strong> {{ ordem.data_interrupcao|date:"d/m/Y H:i" }}</p>
                                                <a href="{% url 'apontamento_usinagem:retornar_apontamento' ordem.id %}" class="badge btn btn-success">Retornar</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Nenhuma ordem interrompida no momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}

<script>
    document.getElementById('formInterromperOrdem').addEventListener('submit', function() {
        // Desabilitar o botão de submit
        document.getElementById('btnInterromperOrdem').disabled = true;

        // Alterar o texto do botão para indicar que está processando
        document.getElementById('btnInterromperOrdem').innerText = 'Interrompendo...';

        // Submeter o formulário
    });
</script>

<script>
    document.getElementById('formFinalizarOrdem').addEventListener('submit', function() {
        // Desabilitar o botão de submit
        document.getElementById('btnFinalizarOrdem').disabled = true;

        // Alterar o texto do botão para indicar que está processando
        document.getElementById('btnFinalizarOrdem').innerText = 'Finalizando...';

        // Submeter o formulário
    });
</script>

<script>
    document.getElementById('formIniciarOrdem').addEventListener('submit', function() {
        // Desabilitar o botão de submit
        document.getElementById('btnIniciarOrdem').disabled = true;

        // Alterar o texto do botão para indicar que está processando
        document.getElementById('btnIniciarOrdem').innerText = 'Iniciando...';

        // Submeter o formulário
    });
</script>

<!-- Filtros e scripts -->
<script>
    // Filtro por Ordem
    document.getElementById('filtroOrdem').addEventListener('input', function() {
        filterTable();
    });

    // Filtro por Data
    document.getElementById('filtroData').addEventListener('input', function() {
        filterTable();
    });

    // Filtro por Máquina
    document.getElementById('filtroMaquina').addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filtroOrdem = document.getElementById('filtroOrdem').value.toLowerCase();
        const filtroData = document.getElementById('filtroData').value;
        const filtroMaquina = document.getElementById('filtroMaquina').value.toLowerCase();

        const tabela = document.getElementById('ordensTable');
        const linhas = tabela.getElementsByTagName('tr');

        for (let i = 0; i < linhas.length; i++) {
            const ordem = linhas[i].getElementsByTagName('td')[0].innerText.toLowerCase();
            const data = linhas[i].getElementsByTagName('td')[1].innerText;
            const maquina = linhas[i].getElementsByTagName('td')[4].innerText.toLowerCase();

            let mostrar = true;

            if (filtroOrdem && !ordem.includes(filtroOrdem)) {
                mostrar = false;
            }

            if (filtroData && data !== filtroData.split("-").reverse().join("/")) {
                mostrar = false;
            }

            if (filtroMaquina && !maquina.includes(filtroMaquina)) {
                mostrar = false;
            }

            linhas[i].style.display = mostrar ? '' : 'none';
        }
    }
</script>

{% endblock %}

{% endblock %}