<div class="modal fade" data-backdrop="static" id="modal-inspecao-cilindro" tabindex="-1" role="dialog"
    aria-labelledby="modal-inspecao-cilindroLabel" style="overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form-inspecao-cilindro">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-inspecao-cilindro-title">Cilindros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label>Data da Inspeção</label>
                            <input type="datetime-local" class="form-control" id="data-inspecao-cilindro" required>
                        </div>
                        <div class="col-sm-6 mb-4 d-flex flex-column justify-content-end">
                            <label>Inspetor</label>
                            <select class="form-control" name="inspetores-inspecao-cilindro" id="inspetores-inspecao-cilindro" required>
                                <option value="" hidden selected disabled></option>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-4">
                            <label>Peça</label>
                            <select class="form-control" name="peca-estanqueidade-cilindro"
                                id="peca-estanqueidade-cilindro" required>
                                <option value="" disabled hidden selected></option>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label>Quantidade inspecionada</label>
                            <input type="number" min="1" class="form-control" id="qtd-inspecao-cilindro" required>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label>Não conformidade</label>
                            <input type="number" min="0" class="form-control" id="nao-conformidade-inspecao-cilindro" required>
                        </div>
                    </div>
                    <div id="containerInspecaoCilindro">
                        <div class="row mb-3 selectContainerInspecao" style="border: 1px solid; border-radius: 10px; padding: 5px; border-color: #ced4da;">
                          <span class="label-modal text-end"> 1ª Causa</span>
                          <div class="col-sm-6 mb-4">
                              <label class="label-modal">Causas:</label>
                              <select class="form-control select2" name="causas_1" style="font-size: 14px;" multiple required>
                                {% for causa in causas %}
                                  <option value="{{causa.nome}}">{{causa.nome}}</option>
                                {% endfor %}
                              </select>
                          </div>
                          <div class="col-sm-6 mb-4">
                              <label class="label-modal">Quantidade:</label>
                              <input type="number" style="font-size: 14px;" class="form-control" required>
                          </div>
                          <div class="col-sm-12 mb-4">
                              <label class="label-modal">Imagens:</label>
                              <input class="form-control" type="file" name="imagens_1" multiple>
                          </div>
                        </div> 
                    </div>
                    <div id="addRemoveContainer" class="col-sm-12" style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="button" class="btn btn-white" id="removeButtonPintura" style="font-size: 20px;"><i class="bi bi-dash-lg"></i></button>
                        <button type="button" class="btn btn-white" id="addButtonPintura" style="font-size: 20px;"><i class="bi bi-plus-lg"></i></button>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-4" id="container-motivo-inspecao-cilindro">
                            <label>Motivo</label>
                            <input type="text" class="form-control" id="motivo-inspecao-cilindro" required>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label>Observação</label>
                            <input type="text" class="form-control" id="observacao-inspecao-cilindro">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-4">
                            <div>
                                <p style="display: inline-block;margin-bottom: .5rem;">Ficha</p>
                            </div>
                            <input type="file" class="custom-file-input" accept="image/*" id="ficha-inspecao-cilindro">
                            <label class="custom-file-label" style="top: auto;">0 arquivos</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">
                        <span id="spinner-cilindro-inspecao" class="spinner-border spinner-border-sm d-none"
                            aria-hidden="true"></span>
                        <span id="status-button-cilindro-inspecao" role="status">Inspecionar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="modal-inspecao-tubo" tabindex="-1" role="dialog"
    aria-labelledby="modal-inspecao-tuboLabel" style="overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-inspecao-tuboTitle">Tubos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label>Data da Inspeção</label>
                            <input type="datetime-local" class="form-control" id="data-inspecao-tubo" required>
                        </div>
                        <div class="col-sm-6 mb-4 d-flex flex-column justify-content-end">
                            <label>Inspetor</label>
                            <select class="form-control" id="inspetor-inspecao-tubo" required>
                                <option value="" hidden selected disabled></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-4">
                            <label>Código</label>
                            <select class="form-control" id="peca-inspecao-tubo"
                                required>
                                <option value="" disabled hidden selected></option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-baseline">
                        <div class="col-4 mb-4">
                            <label>Quantidade inspecionada</label>
                            <input type="number" min="1" class="form-control" id="qtd-inspecao-tubo" required>
                        </div>
                        <div class="col-4 mb-4">
                            <label>Não conforme retrabalho</label>
                            <input type="number" min="0"
                                class="form-control" id="nao-conformidade-retrabalho-inspecao-tubo" required>
                        </div>
                        <div class="col-4 mb-4">
                            <label>Não conforme refugo</label>
                            <input type="number" min="0" class="form-control" id="nao-conformidade-refugo-inspecao-tubo" required>
                        </div>
                    </div>
                    <div id="containerInspecaoTubo">
                        <div class="row mb-3 selectContainerInspecaoTubo" style="border: 1px solid; border-radius: 10px; padding: 5px; border-color: #ced4da;">
                          <span class="label-modal text-end"> 1ª Causa</span>
                          <div class="col-sm-6 mb-4">
                              <label class="label-modal">Causas:</label>
                              <select class="form-control select2" name="causas_1" style="font-size: 14px;" multiple required>
                                {% for causa in causas %}
                                  <option value="{{causa.nome}}">{{causa.nome}}</option>
                                {% endfor %}
                              </select>
                          </div>
                          <div class="col-sm-6 mb-4">
                              <label class="label-modal">Quantidade:</label>
                              <input type="number" style="font-size: 14px;" class="form-control" required>
                          </div>
                          <div class="col-sm-12 mb-4">
                              <label class="label-modal">Imagens:</label>
                              <input class="form-control" type="file" name="imagens_1" multiple>
                          </div>
                        </div> 
                    </div>
                    <div id="addRemoveContainer" class="col-sm-12" style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="button" class="btn btn-white" id="removeButtonPintura" style="font-size: 20px;"><i class="bi bi-dash-lg"></i></button>
                        <button type="button" class="btn btn-white" id="addButtonPintura" style="font-size: 20px;"><i class="bi bi-plus-lg"></i></button>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-4" id="container-motivo-inspecao-tubo">
                            <label>Motivo</label>
                            <input type="text" class="form-control" id="motivo-inspecao-tubo" required>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label>Observação</label>
                            <input type="text" class="form-control" id="observacao-inspecao-tubo">
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label>Ficha</label>
                            <input type="text" class="form-control" id="ficha-inspecao-tubo">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"type="submit">
                        <span id="spinner-tubo-inspecao" class="spinner-border spinner-border-sm d-none"
                            aria-hidden="true"></span>
                        <span id="status-button-tubo-inspecao" role="status">Inspecionar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>