<div class="modal fade" id="modal-historico-serra-usinagem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reinspecionar-serra-usinagemLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reinspecionar-serra-usinagemLabel">Histórico de serra-usinagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <section class="py-3">
                <ul class="timeline">

                </ul>
              </section>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal-causas-historico-serra-usinagem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reinspecionar-serra-usinagemLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-white btn-voltar-historico-inspecao" data-setor="serra-usinagem"><i class="bi bi-arrow-left" style="pointer-events: none;"></i> Voltar</button>
        <h5 class="modal-title">Causas serra-usinagem</h5>
      </div>
      <div class="modal-body">
          <section class="py-3">
              <div id="causas-serra-usinagem">

              </div>
          </section>
      </div>
    </div>
  </div>
</div>