{% extends 'base.html' %}
{% block content %}

<div>
    
    {% if ordem_padrao %}
        <h1 class="my-4">Ordem padrão</h1>
        <form id="formEditarOrdemPadrao" method="post" action="{% url 'apontamento_serra:escolher_ordem_padrao' planejamento.id %}">
    {% else %}
        <h1 class="my-4">Editar Planejamento</h1>
        <form id="formEditarPlan" method="post" action="{% url 'apontamento_serra:editar_planejamento' planejamento.id %}">
    {% endif %}

        {% csrf_token %}

        <!-- Campos do planejamento -->
        <div class="row mb-3">
            <div class="col-sm-4">
                <label for="tamanho_vara" class="form-label">Tamanho planejado da vara</label>
                <input type="text" name="tamanho_vara" value="{{ planejamento.tamanho_vara }}" class="form-control">
            </div>
            <div class="col-sm-4">
                <label for="qt_planejada_vara" class="form-label">Qt. planejada de varas</label>
                <input type="text" name="qt_planejada_vara" value="{{ planejamento.quantidade_vara }}" class="form-control">
            </div>
            <div class="col-sm-4">
                <label for="data_planejada" class="form-label">Data Planejada</label>
                <input type="date" name="data_planejada" value="{{ planejamento.data_planejada|date:'Y-m-d' }}" class="form-control" required>
            </div>
        </div>

        {% if ordem_padrao %}
        <!-- Seção para peças planejadas -->
        <h4>Peças Planejadas</h4>
        <div id="pecasContainer">
            {% for peca in planejamento.pecas.all %}
            <div class="row g-3 mb-2" id="pecaRow_{{ forloop.counter0 }}">
                <div class="col-md-6">
                    <label for="peca_{{ forloop.counter0 }}" class="form-label">Peça {{ forloop.counter0|add:"1" }}</label>
                    <select name="peca_{{ forloop.counter0 }}" class="form-control select2" required>
                        {% for peca_ in pecas %}
                        <option value="{{ peca.peca.id }}" {% if peca_.peca.codigo == peca.peca.codigo %}selected{% endif %}>
                            {{ peca.peca.codigo }} - {{ peca.peca.descricao }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="mp_usada" class="form-label">MP</label>
                    <select name="mp_usada_peca_{{ forloop.counter0 }}" id="mp_usada_peca_{{ forloop.counter0 }}" class="form-select select2" required>
                        {% for mp in mps %}
                            <option value="{{ mp.materia_prima }}" {% if mp.materia_prima == peca.peca.materia_prima %}selected{% endif %}>
                                {{ mp.materia_prima }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="quantidade_{{ forloop.counter0 }}" class="form-label d-flex justify-content-between align-items-center">
                        Qt. Plan.
                        {% if forloop.counter0 > 0 %}
                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" onclick="removePeca('{{forloop.counter0}}')">
                            <i class="fas fa-trash"></i>
                        </button>
                        {% endif %}
                    </label>
                    <input type="number" name="quantidade_{{ forloop.counter0 }}" class="form-control" min="1" required>
                </div>
            </div>
            {% endfor %}
        </div>
        <input type="hidden" name="pecaCount" id="pecaCount" value="{{ planejamento.pecas.count }}">

        {% else %}

        <!-- Seção para peças planejadas -->
        <h4>Peças Planejadas</h4>
        <div id="pecasContainer">
            {% for peca_planejada in planejamento.pecas_planejadas.all %}
            <div class="row g-3 mb-2" id="pecaRow_{{ forloop.counter0 }}">
                <div class="col-md-6">
                    <label for="peca_{{ forloop.counter0 }}" class="form-label">Peça 1</label>
                    <select name="peca_{{ forloop.counter0 }}" class="form-control select2" required>
                        {% for peca in pecas %}
                        <option value="{{ peca.peca.id }}" {% if peca_planejada.peca.peca.codigo == peca.peca.codigo %}selected{% endif %}>
                            {{ peca.peca.codigo }} - {{ peca.peca.descricao }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="mp_usada" class="form-label">MP</label>
                    <select name="mp_usada_peca_{{ forloop.counter0 }}" id="mp_usada_peca_{{ forloop.counter0 }}" class="form-select select2" required>
                        {% for mp in mps %}
                            <option value="{{ mp.materia_prima }}" {% if mp.materia_prima == planejamento.mp_usada %}selected{% endif %}>
                                {{ mp.materia_prima }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="quantidade_{{ forloop.counter0 }}" class="form-label d-flex justify-content-between align-items-center">
                        Qt. Plan.
                        {% if forloop.counter0 > 0 %}
                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" onclick="removePeca('{{forloop.counter0}}')">
                            <i class="fas fa-trash"></i>
                        </button>
                        {% endif %}
                    </label>
                    <input type="number" name="quantidade_{{ forloop.counter0 }}" class="form-control" min="1" value="{{ peca_planejada.quantidade_planejada }}" required>
                </div>
            </div>
            {% endfor %}
        </div>
        <input type="hidden" name="pecaCount" id="pecaCount" value="{{ planejamento.pecas_planejadas.count }}">

        {% endif %}
        
        <!-- Botão para adicionar mais peças -->
        <button type="button" id="addPecaBtn" class="btn btn-secondary mt-3">Adicionar Peça</button>

        <div class="mt-4">
            <div class="form-label text-end">
                {% if ordem_padrao %}
                    <button type="submit" class="btn btn-success" id="salvarOrdemBtn">Salvar</button>
                {% else %}
                    <button type="submit" class="btn btn-success" id="salvarPlanejamentoBtn">Salvar</button>
                {% endif %}
                <label id="textDangerSubmit" style="color:red; display:block;">
                    <small>Todas as Mps precisam ser iguais! <i class="fas fa-exclamation-triangle"></i></small>
                </label>
            </div>
        </div>
    </form>
</div>

<script>
    // Função para verificar se todas as matérias-primas são iguais
    function verificarMateriasPrimasIguais() {
        // Seleciona todos os campos de matérias-primas
        const mpFields = document.querySelectorAll('[id^="mp_usada_peca_"]');
        
        // Verifica se todos os campos têm o mesmo valor
        let primeiraMP = mpFields[0].value;
        let todasIguais = true;

        mpFields.forEach(function(mpField) {
            if (mpField.value !== primeiraMP) {
                todasIguais = false;
            }
        });

        // Habilita ou desabilita o botão com base na comparação
        var ordemPadrao = {{ ordem_padrao|yesno:"true,false" }};

        const salvarBtnPlan = document.getElementById('salvarPlanejamentoBtn');
        const salvarBtnOrdem = document.getElementById('salvarOrdemBtn');

        const textDanger = document.getElementById('textDangerSubmit');

        if (ordemPadrao) {

            if (todasIguais) {
                salvarBtnOrdem.disabled = false;
                textDanger.style.display = 'none';  // Esconde o aviso
            } else {
                salvarBtnOrdem.disabled = true;
                textDanger.style.display = 'block';  // Esconde o aviso

            }

        } else {

            if (todasIguais) {
                salvarBtnPlan.disabled = false;
                textDanger.style.display = 'none';  // Esconde o aviso
            } else {
                salvarBtnPlan.disabled = true;
                textDanger.style.display = 'block';  // Esconde o aviso

            }

        }
        
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Executar a verificação inicial
        verificarMateriasPrimasIguais();

        // Adicionar eventos de mudança aos campos de matéria-prima
        $('[id^="mp_usada_peca_"]').on('change', function() {
            verificarMateriasPrimasIguais();
        });
    });

    // Inicializar Select2 nos elementos já existentes
    $('.select2').select2();

    var ordemPadrao = {{ ordem_padrao|yesno:"true,false" }};
    var pecaCount;

    if (ordemPadrao) {
        pecaCount = {{ planejamento.pecas.count|default:0 }};
    } else {
        pecaCount = {{ planejamento.pecas_planejadas.count|default:0 }};
    }
    
    // Função para adicionar nova peça
    document.getElementById('addPecaBtn').addEventListener('click', function() {
        const pecasContainer = document.getElementById('pecasContainer');
        
        const newFields = `
            <div class="row g-3 mb-2" id="pecaRow_${pecaCount}">
                <div class="col-md-6">
                    <label for="peca_${pecaCount}" class="form-label">Peça ${pecaCount+1}</label>
                    <select name="peca_${pecaCount}" class="form-control select2" required>
                        {% for peca in pecas %}
                            <option value="{{ peca.id }}">{{ peca.codigo }} - {{ peca.descricao }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="mp_usada_${pecaCount}" class="form-label">MP</label>
                    <select name="mp_usada_peca_${pecaCount}" id="mp_usada_peca_${pecaCount}" class="form-select select2" required>
                        {% for mp in mps %}
                            <option value="{{ mp.materia_prima }}">{{ mp.materia_prima }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="quantidade_${pecaCount}" class="form-label d-flex justify-content-between align-items-center">
                        Qt. Plan.
                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" onclick="removePeca('${pecaCount}')">
                            <i class="fas fa-trash"></i>
                        </button>
                    </label>
                    <input type="number" name="quantidade_${pecaCount}" class="form-control" min="1" required>
                </div>
            </div>
        `
        ;

        // Adicionar os novos campos ao contêiner
        pecasContainer.insertAdjacentHTML('beforeend', newFields);

        // Reaplicar Select2 ao novo select adicionado
        $(`#peca_${pecaCount}`).select2();
        $(`#mp_usada_peca_${pecaCount}`).select2();

        // Adicionar evento de mudança ao novo campo Select2 de matéria-prima
        $(`#mp_usada_peca_${pecaCount}`).on('change', function() {
            verificarMateriasPrimasIguais();
        });

        // Executar a verificação inicial após adicionar nova peça
        verificarMateriasPrimasIguais();

        // Incrementa o contador
        pecaCount++;
        document.getElementById('pecaCount').value = pecaCount;
    });

    // Manipular o formulário de planejamento
    const formPlan = document.getElementById('formEditarPlan');
    const salvarPlanBtn = document.getElementById('salvarPlanejamentoBtn');
    if (formPlan && salvarPlanBtn) {
        formPlan.addEventListener('submit', function() {
            // Desabilitar o botão de submit
            salvarPlanBtn.disabled = true;

            // Alterar o texto do botão para indicar que está processando
            salvarPlanBtn.innerText = 'Salvando...';
        });

        // Habilitar o botão, caso precise ser habilitado
        salvarPlanBtn.disabled = false;
    }

    // Manipular o formulário de ordem padrão
    const formOrdemPadrao = document.getElementById('formEditarOrdemPadrao');
    const salvarOrdemBtn = document.getElementById('salvarOrdemBtn');
    if (formOrdemPadrao && salvarOrdemBtn) {
        formOrdemPadrao.addEventListener('submit', function() {
            // Desabilitar o botão de submit
            salvarOrdemBtn.disabled = true;

            // Alterar o texto do botão para indicar que está processando
            salvarOrdemBtn.innerText = 'Salvando...';
        });

        // Habilitar o botão, caso precise ser habilitado
        salvarOrdemBtn.disabled = false;
    }

    // Função para remover peça
    function removePeca(index) {
        document.getElementById('pecaRow_' + index).remove();
        verificarMateriasPrimasIguais();  // Verificar novamente após remover uma peça
    }

</script>

{% endblock %}

