{% extends 'base.html' %}
{% block content %}

<div>
    <h1>Apontamento Serra</h1>

    <!-- Botões para planejar produção e gerar ordem padrão -->
    <div class="text-end">
        <a class="btn badge btn-primary" href="{% url 'apontamento_serra:planejar' %}">
            <i class="fas fa-calendar-plus"></i> Planejar produção
        </a>
        <a href="#" class="btn badge btn-warning" data-bs-toggle="modal" data-bs-target="#modalOrdemPadrao">
            <i class="fas fa-file-alt"></i> Gerar ordem padrão
        </a>
    </div>

    <h2>Planejadas</h2>
    <div>
        <!-- Filtros -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="filtroOrdem" class="form-label">Filtrar por Ordem</label>
                <input type="text" id="filtroOrdem" class="form-control" placeholder="Digite o número da ordem">
            </div>
            <div class="col-md-4">
                <label for="filtroData" class="form-label">Filtrar por Data</label>
                <input type="date" id="filtroData" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="filtroMP" class="form-label">Filtrar por MP</label>
                <input type="text" id="filtroMP" class="form-control" placeholder="Digite a MP">
            </div>
        </div>

        <!-- Tabela com overflow-y -->
        <div id="ordens_planejadas_container">Carregando ordens planejadas...</div>
    </div>

    <!-- Modal para escolher ordem padrão -->
    <form id="filtrarOrdemPadrao" method="GET" action="{% url 'apontamento_serra:planejar_ordem_padrao' %}">
        <div class="modal fade" id="modalOrdemPadrao" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Ordens padrão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Filtros -->
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <label for="pecaOrdemPadrao">Peça</label>
                                <select class="form-select select2" name="pecaOrdemPadrao" id="pecaOrdemPadrao" multiple="multiple">
                                    <option value="">Selecione a peça</option>
                                    {% for peca in pecas %}
                                        <option value="{{ peca.id }}">{{ peca.peca.codigo }} - {{ peca.peca.descricao }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Tabela de ordens -->
                        <table id="tableOrdemPadrao" class="table table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>Ordem</th>
                                    <th>Peça</th>
                                    <th>Planejar</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal de carregamento -->
    <div class="modal fade" id="modalLoading" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Carregando...</span>
                    </div>
                    <p>Processando, por favor aguarde...</p>
                </div>
            </div>
        </div>
    </div>
            
    <!-- Seção de Ordens em Processo e Interrompidas (Divididas em duas colunas) -->
    <div class="row">
        <div class="col-md-6">
            <h2>Processo</h2>
            <div class="card" style="max-height: 600px; overflow-y: auto;">
                <div id="ordens_em_processo_container">Carregando ordens em processo...</div>
            </div>
        </div>       
        <div class="col-md-6">
            <h2>Interrompidas</h2>
            <div class="card" style="max-height: 600px; overflow-y: auto;">
                <div id="ordens_interrompidas_container">Carregando ordens interrompidas...</div>
            </div>
        </div>         
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#modalOrdemPadrao').on('shown.bs.modal', function () {
            if (!$.fn.DataTable.isDataTable('#tableOrdemPadrao')) {
                $('#tableOrdemPadrao').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "{% url 'apontamento_serra:datatable_ordens' %}",
                        "type": "GET",
                        "data": function(d) {
                            // Enviar os IDs das peças selecionadas
                            d.pecaOrdemPadrao = $('#pecaOrdemPadrao').val();
                        }
                    },
                    "columns": [
                        { "data": "numero_ordem" },
                        { "data": "pecas" },
                        { "data": "planejar" }
                    ]
                });
            }
        });
        
        // Atualizar a tabela quando o filtro de peças mudar
        $('#pecaOrdemPadrao').on('change', function() {
            $('#tableOrdemPadrao').DataTable().ajax.reload();
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Função para carregar seções usando fetch e atualizar os containers
        function loadSection(url, containerId, ...callbacks) {  // Aceita múltiplos callbacks usando o operador rest
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    document.getElementById(containerId).innerHTML = html;

                    // Executa todos os callbacks (se houver) após o carregamento da seção
                    callbacks.forEach(callback => {
                        if (typeof callback === 'function') {
                            callback();
                        }
                    });
                })
                .catch(error => {
                    console.error("Erro ao carregar seção:", error);
                });
        }

        // Função para adicionar event listeners aos formulários de iniciar ordem
        function attachIniciarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formIniciarOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário

                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();


                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao iniciar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar as seções necessárias
                            loadSection("/serra/carregar-ordens-planejadas/", "ordens_planejadas_container", attachIniciarOrdemEventListeners);
                            loadSection("/serra/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);

                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem iniciada com sucesso!',
                                confirmButtonText: 'OK'
                            });

                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        modalLoading.hide(); // Ocultar o modal de carregamento
                        alert('Ocorreu um erro ao iniciar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao iniciar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachFinalizarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formFinalizarOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário

                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao finalizar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar a seção das ordens em processo
                            loadSection("/serra/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);

                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem finalizada com sucesso!',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao finalizar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao finalizar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachRetornarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formRetornarOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário

                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao retornar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar a seção das ordens interrompidas
                            loadSection("/serra/carregar-ordens-interrompidas/", "ordens_interrompidas_container", attachFinalizarOrdemEventListeners);
                            loadSection("/serra/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);
                            
                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem retornada com sucesso!',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao retornar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao retornar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachInterromperOrdemEventListeners() {
            const forms = document.querySelectorAll('.formInterromperOrdem');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário

                    // Mostrar o modal de carregamento
                    const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;
                    console.log(url);

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao interromper a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar a seção das ordens em processo
                            loadSection("/serra/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners);
                            loadSection("/serra/carregar-ordens-interrompidas/", "ordens_interrompidas_container", attachRetornarOrdemEventListeners);

                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            modalLoading.hide();
                            
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem interrompida com sucesso!',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao interromper a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao interromper a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        Promise.all([
            loadSection("/serra/carregar-ordens-em-processo/", "ordens_em_processo_container", attachFinalizarOrdemEventListeners, attachInterromperOrdemEventListeners),
            loadSection("/serra/carregar-ordens-planejadas/", "ordens_planejadas_container", attachIniciarOrdemEventListeners),
            loadSection("/serra/carregar-ordens-interrompidas/", "ordens_interrompidas_container", attachRetornarOrdemEventListeners)
        ]).then(() => {
            console.log("Todas as seções foram carregadas com sucesso.");
        }).catch(error => {
            console.error("Erro ao carregar as seções:", error);
        });

    });
</script>

<script>
    $('#modalOrdemPadrao').on('shown.bs.modal', function () {
        $('.select2').select2({
            dropdownParent: $('#modalOrdemPadrao')  // Garante que o dropdown seja renderizado dentro do modal
        });
    });

</script>

<script>
    // Submeter o formulário via AJAX
    $('#filtrarOrdemPadrao').submit(function(e) {
        e.preventDefault(); // Impede o envio tradicional

        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(data) {
                // Substituir o conteúdo da tabela com o resultado filtrado
                $('#ordensPadraoContent').html($(data).find('#ordensPadraoContent').html());
            }
        });
    });
</script>

<script>
    // Filtro por Ordem
    document.getElementById('filtroOrdem').addEventListener('input', function() {
        filterTable();
    });

    // Filtro por Data
    document.getElementById('filtroData').addEventListener('input', function() {
        filterTable();
    });

    // Filtro por MP
    document.getElementById('filtroMP').addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filtroOrdem = document.getElementById('filtroOrdem').value.toLowerCase();
        const filtroData = document.getElementById('filtroData').value;
        const filtroMP = document.getElementById('filtroMP').value.toLowerCase();

        const tabela = document.getElementById('ordensTable');
        const linhas = tabela.getElementsByTagName('tr');

        for (let i = 0; i < linhas.length; i++) {
            const ordem = linhas[i].getElementsByTagName('td')[0].innerText.toLowerCase();
            const data = linhas[i].getElementsByTagName('td')[1].innerText;
            const mp = linhas[i].getElementsByTagName('td')[3].innerText.toLowerCase();

            let mostrar = true;

            if (filtroOrdem && !ordem.includes(filtroOrdem)) {
                mostrar = false;
            }

            if (filtroData && data !== filtroData.split("-").reverse().join("/")) {
                mostrar = false;
            }

            if (filtroMP && !mp.includes(filtroMP)) {
                mostrar = false;
            }

            linhas[i].style.display = mostrar ? '' : 'none';
        }
    }
</script>

{% endblock %}
