{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-lg-12 col-md-10 col-sm-12">
        <h2 class="text-center my-4">Planejar produção</h2>
        <form id="planejamentoForm" method="post" action="{% url 'apontamento_serra:planejar' %}">
            {% csrf_token %}

            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="tamanho_planejado_vara" class="form-label">Tamanho planejado da vara</label>
                    <input type="text" name="tamanho_planejado_vara" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label for="qt_planejada_vara" class="form-label">Qt. plan. de varas</label>
                    <input type="text" name="qt_planejada_vara" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label for="data_planejada" class="form-label">Data Planejada</label>
                    <input type="date" name="data_planejada" value="{{ planejamento.data_planejada|date:'Y-m-d' }}" class="form-control" required>
                </div>
            </div>

            <hr>
            <!-- Contêiner para as peças -->
            <div id="pecasContainer">
                <div class="row mb-3">
                    <div class="col-md-6" id="pecaRow_0">
                        <input type="hidden" name="peca_index[]" value="0"> <!-- Campo oculto com o índice real -->
                        <label for="peca_0" class="form-label">Peça 1</label>
                        <select name="peca_0" id="peca_0" class="form-select select2" required>
                            {% for peca in pecas %}
                                <option value="{{ peca.peca.id }}" data-mp="{{ peca.peca.materia_prima }}">{{ peca.peca.codigo }} - {{ peca.peca.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="mp_usada" class="form-label">MP</label>
                        <select name="mp_usada_peca_0" id="mp_usada_peca_0" class="form-select select2" required>
                            {% for mp in mps %}
                                <option value="{{ mp.materia_prima }}">{{ mp.materia_prima }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="quantidade_0" class="form-label">Qt. Plan.</label>
                        <input type="number" name="quantidade_0" id="quantidade_0" class="form-control" min="1" required>
                    </div>
                </div>
            </div>
            <hr>

            <input type="hidden" name="pecaCount" id="pecaCount" value="1">

            <!-- Botão para adicionar mais peças -->
            <div class="text-home">
                <button type="button" id="addPecaBtn" class="btn btn-secondary mt-3">Adicionar Mais Peças</button>
            </div>

            <!-- Botão de salvar -->
            <div class="text-end mb-3">
                <button type="submit" id="submitBtn" class="btn btn-primary mt-3">Salvar Planejamento</button>
                <label id="textDangerSubmit" style="color:red; display:block;"><small>Todas as Mps precisam ser iguais! <i class="fas fa-exclamation-triangle"></i></small></label>
            </div>

        </form>
    </div>
</div>

<script>
    document.getElementById('planejamentoForm').addEventListener('submit', function() {
        // Desabilitar o botão de submit
        document.getElementById('submitBtn').disabled = true;

        // Alterar o texto do botão para indicar que está processando
        document.getElementById('submitBtn').innerText = 'Salvando...';

        // Submeter o formulário
    });
</script>

<script>
    $(`#peca_0`).select2();
    $(`#mp_usada_peca_0`).select2();

    // Função para verificar se todas as matérias-primas são iguais
    function verificarMateriasPrimasIguais() {
        // Seleciona todos os campos de matérias-primas
        const mpFields = document.querySelectorAll('[id^="mp_usada_peca_"]');
        
        // Verifica se todos os campos têm o mesmo valor
        let primeiraMP = mpFields[0].value;
        let todasIguais = true;

        mpFields.forEach(function(mpField) {
            if (mpField.value !== primeiraMP) {
                todasIguais = false;
            }
        });

        // Habilita ou desabilita o botão com base na comparação
        const salvarBtn = document.getElementById('submitBtn');
        const textDanger = document.getElementById('textDangerSubmit');

        if (todasIguais) {
            salvarBtn.disabled = false;
            textDanger.style.display = 'none';  // Esconde o aviso
        } else {
            salvarBtn.disabled = true;
            textDanger.style.display = 'block';  // Esconde o aviso

        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Executar a verificação inicial
        verificarMateriasPrimasIguais();

        // Adicionar eventos de mudança aos campos de matéria-prima
        $('[id^="mp_usada_peca_"]').on('change', function() {
            verificarMateriasPrimasIguais();
        });
    });

    var pecaCount = 1;  // Para contar quantas peças foram adicionadas

    document.getElementById('addPecaBtn').addEventListener('click', function() {
        const pecasContainer = document.getElementById('pecasContainer');

        // Criar novo conjunto de campos para adicionar outra peça
        const newFields = `
            <div class="row g-3 mb-2" id="pecaRow_${pecaCount}">
                <div class="col-md-6">
                    <input type="hidden" name="peca_index[]" value="${pecaCount}">
                    <label for="peca_${pecaCount}" class="form-label">Peça ${pecaCount+1}</label>
                    <select name="peca_${pecaCount}" id="peca_${pecaCount}" class="form-control select2" required>
                        {% for peca in pecas %}
                            <option value="{{ peca.peca.id }}">{{ peca.peca.codigo }} - {{ peca.peca.descricao }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="mp_usada_${pecaCount}" class="form-label">MP</label>
                    <select name="mp_usada_peca_${pecaCount}" id="mp_usada_peca_${pecaCount}" class="form-select select2" required>
                        {% for mp in mps %}
                            <option value="{{ mp.materia_prima }}">{{ mp.materia_prima }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="quantidade_${pecaCount}" class="form-label d-flex justify-content-between align-items-center">
                        Qt. Plan.
                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" onclick="removePeca('${pecaCount}')">
                            <i class="fas fa-trash"></i>
                        </button>
                    </label>
                    <input type="number" name="quantidade_${pecaCount}" class="form-control" min="1" required>
                </div>
            </div>
        `;

        // Adicionar os novos campos ao contêiner
        pecasContainer.insertAdjacentHTML('beforeend', newFields);

        // Reaplicar Select2 ao novo select
        $(`#peca_${pecaCount}`).select2();
        $(`#mp_usada_peca_${pecaCount}`).select2();

        // Adicionar evento de mudança ao novo campo Select2 de matéria-prima
        $(`#mp_usada_peca_${pecaCount}`).on('change', function() {
            verificarMateriasPrimasIguais();
        });

        // Executar a verificação inicial após adicionar nova peça
        verificarMateriasPrimasIguais();

        // Incrementa o contador
        pecaCount++;
        document.getElementById('pecaCount').value = pecaCount;

    });

    // Função para remover a peça
    function removePeca(index) {
        document.getElementById(`pecaRow_${index}`).remove();
    }
</script>

{% endblock %}