{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Gerenciamento de Processo</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/badges.css' %}">
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock %}

{% block content %}
<div>
    <!-- Título Principal -->
    <div class="text-center mb-5">
        <h1 class="display-5">Gerenciamento de Corte</h1>
        <p class="text-muted">Gerencie e acompanhe os processos de corte de chapas.</p>
    </div>

    <!-- Container para Planejamento -->
    <div id="containerPlanejar" class="mb-5">
        <!-- Título Planejamento -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="text-secondary"></h3>
            <div class="d-flex gap-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPlasma">
                    Criar OP Plasma
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLaser">
                    Criar OP Laser
                </button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDuplicar">
                    Duplicar OP
                </button>
            </div>
        </div>

        <!-- Painel de Ordens Criadas -->
        <h4 class="mb-3 text-secondary">Painel de Ordens Criadas</h4>
        <!-- Formulário de Filtro -->
        <form id="filtro-form" class="mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-md-4">
                    <input type="text" id="filtro-ordem" class="form-control" placeholder="Filtrar por Ordem">
                </div>
                <div class="col-md-4">
                    
                    <select class="form-control" name="filtro-maquina" id="filtro-maquina">
                        <option class="text-muted" value="">Filtrar por máquina</option>
                        <option value="plasma">Plasma</option>
                        <option value="laser_1">Laser 1</option>
                        <option value="laser_2">Laser 2 (JFY)</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                </div>
            </div>
        </form>

        <!-- Container de Ordens -->
        <div class="border rounded p-4 bg-light shadow-sm">
            <div style="max-height: 650px; min-height: 250px; overflow-y: auto; overflow-x: hidden;">
                <div id="ordens-container" class="row g-4 position-relative">
                    <div class="loading-overlay" id="loading">
                        <div class="spinner"></div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3 w-100" id="loadMore" style="display: none;">Carregar mais</button>
            </div>
        </div>
    </div>

    <!-- Container para Acompanhamento -->
    <div class="mb-5">
        <div class="row gy-4">
            <div class="col-md-6">
                <h4 class="text-center text-secondary">Processos em Andamento</h4>
                <div class="border rounded p-3 bg-light shadow-sm">
                    <div class="row row-cols-2 g-3 containerProcesso">
                        <!-- Os cards são adicionados aqui dinamicamente -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="text-center text-secondary">Processos Interrompidos</h4>
                <div class="border rounded p-3 bg-light shadow-sm">
                    <div class="row row-cols-2 g-3 containerInterrompido">
                        <!-- Os cards são adicionados aqui dinamicamente -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Criar OP Plasma -->
<div class="modal fade" id="modalPlasma" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalPlasmaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPlasmaLabel">Criar OP Plasma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="opPlasmaForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3 align-items-center">
                        <!-- Tipo da chapa -->
                        <div class="col-md-5">
                            <label for="tipoChapa" class="form-label">Tipo da chapa:</label>
                            <select class="form-select" name="tipoChapa" id="tipoChapa" required>
                                <option value="" disabled selected>Selecione o tipo</option>
                                <option value="aco_carbono">Aço carbono</option>
                                <option value="anti_derrapante">Anti derrapante</option>
                                <option value="alta_resistencia">Alta resistência</option>
                            </select>
                        </div>
                        <!-- data de programação -->
                        <div class="col-md-5">
                            <label for="dataProgramacao" class="form-label">Programação:</label>
                            <input type="date" id="dataProgramacao" name="dataProgramacao" class="form-control" required>
                        </div>
                        <!-- Retalho -->
                        <div class="col-md-2 d-flex align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="retalhoPlasma" name="retalhoPlasma">
                                <label class="form-check-label ms-2" for="retalhoPlasma">Retalho</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="descricaoOpPlasma" class="form-label">Descrição:</label>
                        <textarea class="form-control" id="descricaoOpPlasma" rows="3"></textarea>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <div class="flex-grow-1">
                            <label for="fileUpload" class="form-label">Arquivo XLS:</label>
                            <input type="file" class="form-control" id="fileUpload" accept=".xls,.xlsx" required>
                        </div>
                        <div class="ms-3 align-self-end">
                            <button type="button" class="btn btn-danger btn-sm" id="resetFilePlasma" title="Limpar Arquivo">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <table class="table table-striped" id="previewTable" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Peça</th>
                                    <th>Qt. Plan.</th>
                                    <th>Espess.</th>
                                    <th>Aprov.</th>
                                    <th>Chapa</th>
                                    <th>Qt. Chapa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dados serão preenchidos via JS -->
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-success" id="confirmButton" style="display:none;">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Criar OP Laser -->
<div class="modal fade" id="modalLaser" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalLaserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLaserLabel">Criar OP Laser</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="laserTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="laser1-tab" data-bs-toggle="tab" data-bs-target="#laser1" type="button" role="tab" aria-controls="laser1" aria-selected="true">Laser 1</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="laser2-tab" data-bs-toggle="tab" data-bs-target="#laser2" type="button" role="tab" aria-controls="laser2" aria-selected="false">Laser 2</button>
                    </li>
                </ul>

                <!-- Tabs Content -->
                <div class="tab-content mt-3" id="laserTabsContent">
                    <!-- Laser 1 Form -->
                    <div class="tab-pane fade show active" id="laser1" role="tabpanel" aria-labelledby="laser1-tab">
                        <form id="laser1Form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="tipoMaquina" value="laser1">
                            <!-- Título do formulário -->
                            
                            <div class="row g-3">
                                <!-- data de programação -->
                                <div class="col-md-5">
                                    <label for="dataProgramacaoLaser1" class="form-label">Programação:</label>
                                    <input type="date" id="dataProgramacaoLaser1" name="dataProgramacaoLaser1" class="form-control" required>
                                </div>

                                <!-- Tipo da chapa -->
                                <div class="col-md-5">
                                    <label for="tipoChapaLaser1" class="form-label">Tipo da chapa:</label>
                                    <select class="form-select" name="tipoChapaLaser1" id="tipoChapaLaser1" required>
                                        <option value="" disabled selected>Selecione o tipo</option>
                                        <option value="aco_carbono">Aço carbono</option>
                                        <option value="anti_derrapante">Anti derrapante</option>
                                        <option value="alta_resistencia">Alta resistência</option>
                                    </select>
                                </div>
                        
                                <!-- Retalho -->
                                <div class="col-md-2 d-flex align-items-center">
                                    <div class="form-check form-switch ms-2">
                                        <input class="form-check-input" type="checkbox" id="retalhoLaser1" name="retalhoLaser1">
                                        <label class="form-check-label ms-2" for="retalhoLaser1">Retalho</label>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Dimensões da chapa -->
                            <div class="row g-3 mt-3">
                                <!-- Espessura -->
                                <div class="col-md-4">
                                    <label for="espessuraLaser1" class="form-label">Espessura:</label>
                                    <select class="form-control" name="espessuraLaser1" id="espessuraLaser1" required>
                                        <option value="">--------</option>
                                        {% for espessura in espessuras %}
                                        <option value="{{espessura.id}}">{{espessura.nome}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <!-- Comprimento -->
                                <div class="col-md-4">
                                    <label for="comprimentoLaser1" class="form-label">Comprimento (mm):</label>
                                    <input class="form-control" type="number" step="0.1" id="comprimentoLaser1" name="comprimentoLaser1" placeholder="Digite o comprimento" required>
                                </div>
                                
                                <!-- Largura -->
                                <div class="col-md-4">
                                    <label for="larguraLaser1" class="form-label">Largura (mm):</label>
                                    <input class="form-control" type="number" step="0.1" id="larguraLaser1" name="larguraLaser1" placeholder="Digite a largura" required>
                                </div>
                            </div>
                        
                            <!-- Descrição -->
                            <div class="mt-4">
                                <label for="descricaoLaser1" class="form-label">Descrição:</label>
                                <textarea class="form-control" id="descricaoLaser1" rows="3" placeholder="Adicione uma descrição..."></textarea>
                            </div>
                        
                            <!-- Upload de arquivo -->
                            <div class="mt-4">
                                <label for="fileUploadLaser1" class="form-label">Arquivo XLS:</label>
                                <input type="file" class="form-control" id="fileUploadLaser1" accept=".xls,.xlsx" required>
                            </div>
                        
                            <!-- Botões -->
                            <div class="d-flex justify-content-end mt-4">
                                <button class="btn btn-success" id="confirmButtonLaser1">
                                    <i class="fa fa-check me-2"></i>Confirmar
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Laser 2 Form -->
                    <div class="tab-pane fade" id="laser2" role="tabpanel" aria-labelledby="laser2-tab">
                        <form id="laser2Form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="tipoMaquina" value="laser_2">
                            <div class="row mb-3 align-items-center">
                                <!-- data de programação -->
                                <div class="col-md-5">
                                    <label for="dataProgramacaoLaser2" class="form-label">Programação:</label>
                                    <input type="date" id="dataProgramacaoLaser2" name="dataProgramacaoLaser2" class="form-control" required>
                                </div>
                                <!-- Tipo da chapa -->
                                <div class="col-md-5">
                                    <label for="tipoChapaLaser2" class="form-label">Tipo da chapa:</label>
                                    <select class="form-select" name="tipoChapaLaser2" id="tipoChapaLaser2" required>
                                        <option value="" disabled selected>Selecione o tipo</option>
                                        <option value="aco_carbono">Aço carbono</option>
                                        <option value="anti_derrapante">Anti derrapante</option>
                                        <option value="alta_resistencia">Alta resistência</option>
                                    </select>
                                </div>
                                <!-- Retalho -->
                                <div class="col-md-2 d-flex align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="retalhoLaser2" name="retalhoLaser2">
                                        <label class="form-check-label ms-2" for="retalhoLaser2">Retalho</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="descricaoLaser2" class="form-label">Descrição:</label>
                                <textarea class="form-control" id="descricaoLaser2" rows="3"></textarea>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <label for="fileUploadLaser2" class="form-label">Arquivo XLS:</label>
                                    <input type="file" class="form-control" id="fileUploadLaser2" accept=".xls,.xlsx" required>
                                </div>
                                <div class="ms-3 align-self-end">
                                    <button type="button" class="btn btn-danger btn-sm" id="resetFileLaser2" title="Limpar Arquivo">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <table class="table table-striped" id="previewTableLaser2" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>Peça</th>
                                            <th>Qt. Plan.</th>
                                            <th>Espess.</th>
                                            <th>Aprov.</th>
                                            <th>Chapa</th>
                                            <th>Qt. Chapa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Dados serão preenchidos via JS -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-end">
                                <button class="btn btn-success" id="confirmButtonLaser2" style="display:none;">Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Duplicar OP -->
<!-- Modal Duplicar OP -->
<div class="modal fade" id="modalDuplicar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalDuplicarLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDuplicarLabel">Duplicar OP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário de Filtros -->
                <form id="formFiltrarOrdem">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="filtroPecas" class="form-label">Peças</label>
                            <select id="filtroPecas" class="form-select" multiple>
                                <!-- As opções serão carregadas dinamicamente -->
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="filtroMaquina" class="form-label">Máquina</label>
                            <select id="filtroMaquina" class="form-select">
                                <option value="">Selecione uma máquina</option>
                                <option value="laser_1">Laser 1</option>
                                <option value="laser_2">Laser 2 (JFY)</option>
                                <option value="plasma_1">Plasma 1</option>
                                <option value="plasma_2">Plasma 2</option>
                                <option value="prensa">Prensa</option>
                            </select>
                        </div>
                        <div class="col-sm-4 d-flex align-items-end">
                            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                        </div>
                    </div>
                </form>
                <hr>
                <!-- Tabela de Resultados -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Peça</th>
                            <th>Quantidade</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody id="resultadoFiltro">
                        <!-- Resultados do filtro serão carregados aqui -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal para exibir as peças -->
<div class="modal fade" id="modalPecas" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalPecasLabel" inert>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPecasLabel">Peças da Ordem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalPecasContent">
                    <!-- As peças serão carregadas dinamicamente aqui -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal iniciar ordem -->
<div class="modal fade" id="modalIniciar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalIniciarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIniciarLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formIniciarOrdemCorte">
                    <div class="mb-3">
                        <input type="hidden" id="grupoMaquina">
                        <label for="escolhaMaquina" class="form-label">Qual máquina?</label>
                        <select class="form-control" id="escolhaMaquinaIniciarOrdem" name="escolhaMaquinaIniciarOrdem" required>
                            <!-- Opções serão preenchidas dinamicamente pelo JavaScript -->
                        </select>
                    </div>

                    <!-- Footer do Formulário -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Iniciar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal interromper ordem -->
<div class="modal fade" id="modalInterromper" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalInterromperLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInterromperLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formInterromperOrdemCorte">
                    <div class="mb-3">
                        <label for="escolhaMotivo" class="form-label">Qual motivo?</label>
                        <select class="form-control" id="motivoInterrupcao" name="motivoInterrupcao" required>
                            <option value="">------</option>
                            {% for motivo in motivos %}
                            <option value="{{motivo.nome}}">{{motivo.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Footer do Formulário -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Interromper</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal finalizar ordem -->
<div class="modal fade" id="modalFinalizar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalFinalizarLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFinalizarLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formFinalizarOrdemCorte">
                    
                    <div id="bodyPecasFinalizar">
                        <!-- Informações da Chapa -->

                        <!-- Peças -->
                    </div>

                    <div class="row mb-3 align-items-center">
                        <!-- Observação -->
                        <div class="col-sm-6">
                            <label for="obsFinalizarCorte" class="form-label">Observação</label>
                            <textarea class="form-control" name="obsFinalizarCorte" id="obsFinalizarCorte" placeholder="Algum comentário"></textarea>
                        </div>    

                        <!-- Operador -->
                        <div class="col-sm-6">
                            <label for="operadorFinal" class="form-label">Operador</label>
                            <select class="form-select" name="operadorFinal" id="operadorFinal" required>
                                <option value="">--------</option>
                                {% for operador in operadores %}
                                <option value="{{ operador.id }}">{{ operador.matricula }} - {{ operador.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Footer do Formulário -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Finalizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal retornar ordem -->
<div class="modal fade" id="modalRetornar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalRetornarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRetornarLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formRetornarProducao">
                    <div class="mb-3">
                        <input type="hidden" id="grupoMaquina">
                        <button type="submit" class="btn btn-primary">Sim</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/planejar-plasma.js' %}"></script>
<script type="module" src="{% static 'js/planejar-laser.js' %}"></script>
<script type="module" src="{% static 'js/ordem-criada.js' %}"></script>
{% endblock %}

