<div class="modal fade" id="modal-causas-historico-retrabalho-pintura" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reinspecionar-pinturaLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Motivos não conformidade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <section class="py-3">
                <div id="causas-retrabalho-pintura">
  
                </div>
            </section>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-confirmar-retrabalho-pintura" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmar-retrabalho-pinturaLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Retrabalho Pintura</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-confirmar-retrabalho">
            <div class="modal-body">
                <input type="hidden" id="retrabalho-id" name="retrabalho-id">
                <h6 class="label-modal" style="font-size: 19px;"><code id="desc-peca"></code></h6>
            </div>
            <div class="modal-footer">
                <button id="submit-confirmar-retrabalho" type="submit" class="btn btn-dark d-flex align-items-center gap-2">
                    <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                    <span role="status">Confirmar</span>
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-finalizar-retrabalho-pintura" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="finalizar-retrabalho-pinturaLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Finalizar Retrabalho Pintura</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-finalizar-retrabalho">
            <div class="modal-body">
                <input type="hidden" id="em-processo-id" name="em-processo-id">
                <h6 class="label-modal" style="font-size: 19px;"><code id="desc-peca-em-processo"></code></h6>
            </div>
            <div class="modal-footer">
                <button id="submit-finalizar-retrabalho" type="submit" class="btn btn-dark d-flex align-items-center gap-2">
                    <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                    <span role="status">Finalizar</span>
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>