{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="alert alert-danger">
                <h1 class="display-4">Acesso Negado</h1>
                <p class="lead">Você não tem permissão para acessar este setor.</p>
                <hr class="my-4">
                <a href="/core/" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
