{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock %}

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/scroll.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- jQuery (coloque antes do select2) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    {% block links %}

    {% endblock %}

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="#">CEMAG</a>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form> -->
            <!-- Navbar-->
            <!-- <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul> -->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            
                            <div class="sb-sidenav-menu-heading">Inicio</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHome" aria-expanded="false" aria-controls="collapseHome">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Início
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseHome" aria-labelledby="headingInicio" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'core:versao' %}">Versões</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Cargas</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCargas" aria-expanded="false" aria-controls="collapseCargas">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Plano de cargas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCargas" aria-labelledby="headingInicio" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'cargas:home' %}">Planejamento</a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseCargas" aria-labelledby="headingInicio" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'cargas:historico_cargas' %}">Histórico</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Sucata</div>

                            <a class="nav-link" href="{% url 'sucata:sucata' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Sucata
                            </a>

                            <div class="sb-sidenav-menu-heading">Setor</div>
                            
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsinagem" aria-expanded="false" aria-controls="collapseUsinagem">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Usinagem
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUsinagem" aria-labelledby="headingUsinagem" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'usinagem:planejamento' %}">Ordens</a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseUsinagem" aria-labelledby="headingUsinagem" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'usinagem:processos' %}">Processos</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSerra" aria-expanded="false" aria-controls="collapseSerra">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Serra
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseSerra" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'serra:planejamento' %}">Ordens</a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseSerra" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'serra:historico' %}">Histórico</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProdEsp" aria-expanded="false" aria-controls="collapseProdEsp">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Prod especiais
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProdEsp" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'prod_esp:planejamento' %}">Ordens</a>
                                </nav>
                            </div>
                            
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCorte" aria-expanded="false" aria-controls="collapseCorte">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Corte
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCorte" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'corte:planejamento' %}">Ordens</a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseCorte" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'corte:duplicar_op' %}">Duplicar OP</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEstamparia" aria-expanded="false" aria-controls="collapseEstamparia">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Estamparia
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseEstamparia" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'estamparia:planejamento' %}">Ordens</a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapseEstamparia" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'estamparia:historico' %}">Histórico</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePintura" aria-expanded="false" aria-controls="collapsePintura">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Pintura
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePintura" aria-labelledby="headingPintura" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'pintura:planejamento' %}">Ordens</a>
                                </nav>
                            </div>
                            <div class="collapse" id="collapsePintura" aria-labelledby="headingPintura" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'pintura:retrabalho_pintura' %}">Retrabalho</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMontagem" aria-expanded="false" aria-controls="collapseMontagem">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Montagem
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseMontagem" aria-labelledby="headingSerra" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'montagem:planejamento' %}">Ordens</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInspecao" aria-expanded="false" aria-controls="collapseInspecao">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Inspeção
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                                <div class="collapse" id="collapseInspecao" aria-labelledby="headingInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:inspecao-pintura' %}">Pintura</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseInspecao" aria-labelledby="headingInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:inspecao-estamparia' %}">Estamparia</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseInspecao" aria-labelledby="headingInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:inspecao-montagem' %}">Montagem</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseInspecao" aria-labelledby="headingInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:conjuntos-inspecionados-montagem' %}">Conjuntos inpecionados - Montagem</a>
                                    </nav>
                                </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInspecaoEstanqueidade" aria-expanded="false" aria-controls="collapseInspecao">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Inspeção Estanqueidade
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                                <div class="collapse" id="collapseInspecaoEstanqueidade" aria-labelledby="headingInspecaoEstanqueidade" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:inspecao-tanque' %}">Tanque</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseInspecaoEstanqueidade" aria-labelledby="headingInspecaoEstanqueidade" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:inspecao-tubos-cilindros' %}">Tubos e Cilindros</a>
                                    </nav>
                                </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDashboadInspecao" aria-expanded="false" aria-controls="collapseInspecao">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Dashboard Inspeção
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                                <div class="collapse" id="collapseDashboadInspecao" aria-labelledby="headingDashboadInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:dasdashboard_pinturahboard' %}">Pintura</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseDashboadInspecao" aria-labelledby="headingDashboadInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:dasdashboard_montagemhboard' %}">Montagem</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseDashboadInspecao" aria-labelledby="headingDashboadInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:dasdashboard_estampariahboard' %}">Estamparia</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseDashboadInspecao" aria-labelledby="headingDashboadInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:dashboard-tanque' %}">Tanque</a>
                                    </nav>
                                </div>
                                <div class="collapse" id="collapseDashboadInspecao" aria-labelledby="headingDashboadInspecao" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'inspecao:dashboard-tubos-cilindros' %}">Tubos e Cilindros</a>
                                    </nav>
                                </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">
                            <!-- Exibe o tipo de acesso do usuário -->
                            Logado: <strong>{{ request.user.username }}</strong> 
                            <br>
                        </div>
                        <!-- Botão de Logout -->
                        <a href="{% url 'core:logout' %}" class="btn btn-danger btn-sm mt-2 w-100">Sair</a>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% block content %}
                        {% endblock %}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; CEMAG 2024</div>
                            <!-- <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div> -->
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!-- DataTables JS -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

        <!-- DataTables Editor JS -->
        <script src="https://cdn.datatables.net/editor/2.0.6/js/dataTables.editor.min.js"></script>

        <!-- DataTables Select JS (se estiver usando a funcionalidade de seleção) -->
        <script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!-- Script personalizado -->
        <script src="{% static 'js/scripts.js' %}"></script>

        {% block scripts %}
        {% endblock %}

    </body>
</html>
