.access-modal {
    position: fixed;
    top: 0;
    right: -400px; /* Inicialmente fora da tela */
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1050;
}

.access-modal.show {
    right: 0; /* Faz o modal aparecer */
}

.access-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
