/* Aplica a barra de rolagem personalizada a todos os elementos que possuem scroll */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
