name: Django Collect Static and Commit After Merge

on:
  push:
    branches:
      - main

jobs:
  build-collect-commit:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # O token é necessário para poder fazer o push de volta para o repositório
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run collectstatic
        # A flag --clear garante que o diretório staticfiles seja limpo antes da coleta
        run: python manage.py collectstatic --no-input --clear
        env:
          # Secrets da AWS
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_STORAGE_BUCKET_NAME: ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
          AWS_S3_REGION_NAME: ${{ secrets.AWS_S3_REGION_NAME }}
          
          # Secrets do Banco de Dados
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          BASE_TESTE: ${{ secrets.BASE_TESTE }}
          BASE_PROD: ${{ secrets.BASE_PROD }}

          # Outras
          DEBUG: "False"

      - name: Commit and push static files
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # Adiciona os arquivos estáticos gerados
          git add staticfiles/
          
          # Verifica se há mudanças para commitar
          if ! git diff-index --quiet HEAD; then
            git commit -m "chore: Collect and update static files [ci skip]"
            # Faz o push para a branch main, pois o workflow só roda em push para a main
            git push
          else
            echo "No changes to commit."
          fi